/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
html {
    height: 100%;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #E6E6E6 url(../img/bg-pattern-light.png);
}

h1, h2, h3, h4{
  font-family: 'Electrolize', sans-serif;  
  margin-top: 0;
  margin-bottom: 0;
}

h1, h1 a{
  font-size: 50px;
  text-transform: lowercase;
  color: #6A9CAC;
  text-shadow: 0 2px 3px #FCFCFC;
}

h2 {
  font-size: 24px;
}

h3{
  display: inline;
  font-size: 18px;
  color: #B4B4B4;
  text-shadow: 0 2px 3px #FCFCFC;
}

h4{
  display: inline;
  font-size: 12px;
}

a{
  text-decoration: none;
  font-size: 16px;
  color: #4E4E4E;
  text-shadow: 0 2px 3px #FCFCFC;
  cursor: pointer;
  padding: 4px;
}

a:hover{
  color: #868686;
}

p{
  text-align:justify;
  display: inline;
  font-size: 11px;
}

ul, li{
  font-size: 11px;
}

strong{
  font-size: 11px;
}

#dissertationpage{
  margin: 2% 10%;
  text-align: center;
  background: white;
  padding: 4% 5%;
  border: 3px solid #ddd;
}

#info{
  margin: 5% 15%;
}

#dissertationpage h1, #dissertationpage h1 a, #dissertationpage h2{
  text-transform: none;
  margin: 10px;
  color: #6A9CAC;
  text-shadow: 0 2px 3px #FCFCFC;
}

#dissertationpage h3{
  display: block;
  margin: 3px;
  color: black;
}

#abstract-content{
  text-align: left;
}

#abstract-content p, .full-text p{
  display: block;
  margin: 5px 5%;
  font-size: 13px;
}

.container img{
  width: 100%;
  opacity: 0.5;
}

.vertical{
  width: 25%;
  max-width: 300px;
  min-width: 200px
}

.horizontal{
  width: 50%;
  max-width: 614px;
  min-width: 400px
}

.on-top{
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide{
  position: relative;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  background: rgba(245, 245, 245, 0.85);
  border-top: 1px solid transparent;
}

#aboutpage{
  display: none;
}
#aboutpage a{
  text-decoration: underline;
}

#contactspage{
  display: none;
}

.sidebyside{
  display: block;
  position: relative;
  
  width: 48%;
  height: 100%;
  margin-top: 2%;
  
  padding: 1%;
  box-sizing: border-box;
}

.left{  
  float: left;
}

.right{
  float: right;
  
}

#cleft h1{
  font-size: 200px;
  text-align: center;
}

#cright ul, #cright li{
  text-align: center;
  list-style-type: none;
}

#aboutme{
  margin-top: 20%;
  padding: 40px;
}

#moreaboutme{
  padding: 40px;
}

#aboutme p{
  display: block;
}

.hided{
  display: none;
}

.centered{
  font-family: 'Electrolize', sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  
  width: 500px;
  height: 200px;
  margin-top:-100px;
  margin-left: -250px;
}

#startmenu{
  text-align: center;
}

#menu{
  display: none;
  padding: 10px;
}

#logo{
  font-family: 'Electrolize', sans-serif;
  margin-bottom: 10px;
  text-align: right;
  font-size: 36px;
  text-transform: lowercase;
  color: #6A9CAC;
  text-shadow: 0 2px 3px #FCFCFC;
  
}

#logo:hover{
  color: #6D6D6D;
  cursor: pointer;
}

#options{
  border-top: 1px dashed rgba(201, 201, 201, 0.75);
  border-bottom: 1px dashed rgba(201, 201, 201, 0.75);
  padding-left: 15px;
  padding-right: 15px;
}

.filters{
  display: inline;
}

.container{
  margin: auto;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.box{
  margin: 7px;
  -webkit-box-shadow: 1px 1px 3px 0 #ADADAD;
  -moz-box-shadow: 1px 1px 3px 0 #ADADAD;
  box-shadow: 1px 1px 3px 0 #ADADAD;
}

.info {
  display: none;
  position: absolute;
  bottom: 0;
}

.info h2{
  color: white; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.8);
  padding: 2px 5px; 
}

.title{
  margin: 0;
}

.client{
  background: rgb(178, 196, 214); /* fallback color */
  background: rgba(178, 196, 214, 0.8);
  padding-left: 5px;
}

.client h4{
  display: inline;
}

.details {
  padding: 5px;
  background: rgb(238, 238, 238); /* fallback color */
  background: rgba(238, 238, 238, 0.9);
}

.authors {
  text-align: right;
}

.languages{
  margin-top: 2px;
  margin-bottom: 2px;
}

.language{
  color: #618BB4;
  margin-top: 2px;
  font-size: 12px;
  margin-right: 2px;
}

.language:hover{
  color: white;
  cursor: pointer;
}

.date{
  font-size: 11px;
  color: #969696;
  position: absolute;
  bottom: 2px;
  left: 3px;
}


.icons{
  width: 30%;
  height: auto;
  margin-bottom: 5%;
}

.arrow {
  position: absolute;
  left: 48%;
  z-index: 999999;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.arrow-up{
  top:4px;
  border-bottom: 20px solid #6A9CAC;
}

.arrow-up:hover{
  border-bottom: 20px solid #868686;
}

.arrow-down{
  bottom:5px;
  border-top: 20px solid #6A9CAC;
}

.arrow-down:hover{
  border-top: 20px solid #868686;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: whiteSmoke;
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: #eee;
  
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);

}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 480px) {
  /* Style adjustments for viewports that meet the condition */
  .vertical{
    width: 100%;
  }

  .horizontal{
    width:100%;
  }

  .centered{
    font-family: 'Electrolize', sans-serif;
    position: relative;
    top: 50%;
    left: 0;
    
    width: 100%;
    min-height: 200px;
    margin-top: -100px;
    margin-left: 0;

    text-align: center;
  }

  .sidebyside{
    position: absolute;
    display: block;
  }

  h1, h1 a{
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3{
    font-size: 14px;
  }

  #dissertationpage {
    margin: 2% 0;
  }
  
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



/* =============================================================================
   Plugins
   ========================================================================== */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}